.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-home {
	fill: #000000;
}
.icon-phone-hang-up {
	fill: #000000;
}
.icon-envelope {
	fill: #000000;
}
.icon-user {
	fill: #000000;
}
.icon-menu {
	fill: #000000;
}
.icon-eye {
	fill: #000000;
}
