@font-face {
   font-family: 'icomoon';
   src:url('../fonts/icomoon.eot?-rafmaf');
   src:url('../fonts/icomoon.eot?#iefix-rafmaf') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-rafmaf') format('woff'),
      url('../fonts/icomoon.ttf?-rafmaf') format('truetype'),
      url('../fonts/icomoon.svg?-rafmaf#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
   font-family: 'icomoon';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
   content: "\f058";
}
.icon-phone-square:before {
   content: "\f098";
}


li
{
   list-style: none;
}
figure
{
   padding: 0px;
   margin: 10px auto;
}
.tel{
   color: white;
   font-size: .8em;
}
.cel
{
   color: #134362;
   font-size: .8em;
}
.icon_tel:before
{
   color: #134362;
   content: "\f098";
   font-family: 'icomoon';
   font-size: 2em;
   margin-right: 5px;
}
.icon_tel_up:before
{
   color: #724088;
   content: "\f098";
   font-family: 'icomoon';
   font-size: 4em;
}
.icon_check:before
{
   color: #efaa02;
   content: "\f058";
   font-family: 'icomoon';
   font-size: 1.3em;
}
.border_sedes
{
   border-left: solid 2px #134362;
}
.center
{
   text-align: center;
}
.right{
   float: right;
}
.left
{
   float: left;
}
.logo
{
   width: 65px;
   height: 65px;
}
.content
{
   background: #1d5e82;
}
.content_mapa
{
   color: white;
   background-color: #CCC;
}
.mayus
{
   text-transform: uppercase;
}
.margin
{
   margin: .7em auto;
}
.margin_phone
{
   height: 20px;
   width: 20px;
}
.servicios
{
   background-color: transparent;
   padding: 1em;
   border-radius: .6em;
}
.sedes
{
   background-color: #efaa02;
}
.sedes_borde
{
   border-style: solid;
   border-width: 1px;
   border-color: #efaa02;
   margin-bottom: 30px;
}
.slogan
{
   font-size: .9em;
}
.azul
{
   color: #134362;
}
.mostaza
{
   color: #efaa02;
}


.blanco
{
   color: white;
}
.gracias{
   background-color: #134362;
   border: 1px solid #1E1E1E;
   box-shadow: 1px 2px 1px rgba(255, 255, 255, 1);
   color: #1E1E1E;
   padding: 1em;
   width: 400px;
}
.gris
{
   color: #e8e9eb;
}
.espaciado
{
   line-height: 2;
}
.footer
{
   background-color: #444242;
   border-top: solid 3px #efaa02;
   color: white;
   padding: 1em;
}
.text_mob
{
   font-size: .7em;
}

@media screen and (min-width:768px){
   .cel
   {
      float: left;
      padding: 0;
      margin: 3em 2em;
   }
   .logo 
   {
      width: 85px;
      height: 85px;    
   }
   .margin_phone
   {
      float: left;
      height: 40px;
      margin-top: 1.3em;
      width: 40px;
   }
   .slogan
   {
      font-size: 1.1em;
   }
}

@media screen and (min-width: 980px){
   .cel
   {
      font-size: 1.1em;
      float: left;
      margin: 3em 2em;
   }
   .content
   {
      background: linear-gradient(#1d5e82 80%, #CCC);
   }
   .logo
   {
      height: 120px;
      width: 120px;

   }
   .margin_phone
   {
      margin-top: 2.3em;
      float: left;
      height: 50px;
      width: 50px;
   }
   .slogan
   {
      font-size: 1.4em;
   }
   .servicios
   {
      background-color: rgba(255, 255, 255, 0.5);
   }
}


